
shapefile/communes-20200101.cpg
shapefile/communes-20200101.dbf
shapefile/communes-20200101.prj
shapefile/communes-20200101.shp
shapefile/communes-20200101.shx
shapefile/communes-descriptif.txt
shapefile/LICENCE.txt
data/BTX_TD_ACT1_2012.xlsx
data/BTX_TD_ACT1_2016.xlsx
data/BTX_TD_IMG1A_2016.xlsx
data/BTX_TD_POP1A_2012.xlsx
data/BTX_TD_POP1A_2016.xlsx
data/DocumentationInsee/doc_RP.xlsx
data/Presidentielle2012ResultatsCommunesTour1Tour2.xlsx
data/Presidentielle2017ResultatsCommunesParCandidatTour1.xlsx
data/Presidentielle2017ResultatsCommunesTour1.xlsx
data/Presidentielle2017ResultatsCommunesTour2.xlsx
